<button mat-raised-button color="primary" (click)="getTracks()">Get All Tracks</button>



<div *ngIf="tracks">
  <!-- <ul *ngFor="let track of tracks">
    <li>{{ track.id }} => {{ track.trackName}}</li>
  </ul> -->
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Track ID </th>
      <td mat-cell *matCellDef="let track"> {{track.id}} </td>
    </ng-container>
    <ng-container matColumnDef="trackName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Track Name </th>
      <td mat-cell *matCellDef="let track"> {{track.trackName}} </td>
    </ng-container>
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Artist </th>
      <td mat-cell *matCellDef="let track"> {{track.artist}} </td>
    </ng-container>
    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Album </th>
      <td mat-cell *matCellDef="let track"> {{track.album}} </td>
    </ng-container>
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
      <td mat-cell *matCellDef="let track"> {{track.genre}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>